{{!-- message alert --}}
<div class="alert-container">
	{{#if messages.success}}
	<div class="alert alert-success alert-floating fw-bold alert-dismissible fade show" role="alert">
		{{messages.success}}
	</div>
	{{/if}}
	{{#if messages.error}}
	<div class="alert alert-danger alert-floating fw-bold alert-dismissible fade show" role="alert">
		{{messages.error}}
	</div>
	{{/if}}
</div>